@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background: url("https://wallpapercave.com/wp/wp3906251.jpg"); 
    min-height: 10vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 16px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color:rgb(254, 254, 254);
    border: 2px solid black;
    background: rgb(255, 0, 0);
    height:8vmin;
    width:30vmin;
}

#hiscoreBox{
    
    position: absolute;
    top: 70px;
    right: 16px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color:aliceblue;
    border: 2px solid black;
    background: Blue;
    height:8vmin;
    width:30vmin;
}

#Home{
    position: absolute;
    top: 200px;
    right: 10px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color:rgb(254, 254, 254);
    border: 2px solid black;
    background: rgb(0, 71, 4);
    height:8vmin;
    width:30vmin;
}

#board{
    background: linear-gradient(rgba(37, 223, 0, 0.473), rgba(50, 8, 128, 0.473));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}

.head{
    background: linear-gradient(rgb(255, 0, 0), rgba(255, 38, 0, 0.949));
    border: 1px solid rgba(34, 4, 34, 0.185); 
    transform: scale(1.02);
    border-radius: 30px;
}

.snake{
    background: linear-gradient(rgb(250, 79, 0),rgb(186, 5, 192));
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 60px;
}

.food{
    background: linear-gradient(rgb(251, 255, 0), rgb(255, 0, 157));
    border: .1vmin solid rgba(0, 0, 0, 0.144);
    border-radius: 20px;
}
#new{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
.new{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    right: 580px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color:rgb(0, 0, 0);
    border: 2px solid black;
    background: rgb(0, 195, 255);
    height:8vmin;
    width:47vmin;

}
#new1{
    position: absolute;
    top: 270px;
    right: 10px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color:rgb(254, 254, 254);
    border: 2px solid black;
    background: rgb(0, 71, 4);
    height:8vmin;
    width:30vmin;
}
